

<div class="row">
  <div class= "col s12">
    <% if user_signed_in? %>
      <span class="caption left-align"><h5><%= greet%> <%=current_user.name %></h5></span> 

    <% else %>
    <% end %>
    
  </div>

    <% if user_signed_in? %>


      <div class="row">
         <div class="col s12 m6">
            <div class="card perfect blue lighten-5">
              <div class="card-action">
                  <a class="blue-grey-text" href="">Miami International Airport (MIA)</a>
               </div>
               <div class="card-action">
                  <a class="right blue-text" href="http://www.miami-airport.com/">www.miami-airport.com</a>
               </div>
            </div>
         </div>
            <div class="col s12 m6">
            <div class="card perfect blue lighten-5">
              <div class="card-action">
                  <a class="blue-grey-text" href="">Fort Lauderdale-Hollywood International Airport (FLL)</a>
               </div>
               <div class="card-action">

                  <a class="right blue-text" href="http://www.fortlauderdaleinternationalairport.com/">www.fortlauderdaleinternationalairport.com</a>
               </div>
            </div>
         </div>

        <div class="center col s12">
          <a href="<%=flights_path%>" ><button class="waves-effect waves-light btn" type="submit" >Departure</button></a>
        </div>
      </div>     

<!-- TRYING TO SHOW GOOGLE/MAPS -->

<!--     <div id="map"></div> -->
    
 <!-- TILL HERE -->

    <% else %>

          <div class="image">

            <img class="center col s12" position: relative; data-caption="No more ugly suprises!" width="750" src="http://img12.deviantart.net/c2c1/i/2015/124/c/8/bologna_airport_nr_2_by_enricomiglino-d1tjs1m.jpg"/>
            

              <h2 class="image-header-h2" ><span class="image-span">Heading to the airport<span class='spacer'></span> <br/> <span class='spacer'></span>Save time here!</span></h2>



          </div>

    <% end %>
</div>





