<!-- 
 <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
<body> -->

<div class="row">
  <div class= "col s12">
    <% if user_signed_in? %>
      <span class="caption left-align"><h5><%= greet%></h5></span> 

    <% else %>
    <% end %>
    
  </div>

    <% if user_signed_in? %>


      <div class="row">
         <div class="col s12 m6">
            <div class="card hoverable blue lighten-5">
              <div class="card-action">
                  <a class="blue-grey-text" href="">Miami International Airport (MIA)</a>
               </div>
               <div class="card-action">
                  <a class="right blue-text" href="http://www.miami-airport.com/">www.miami-airport.com</a>
               </div>
            </div>
         </div>
            <div class="col s12 m6">
            <div class="card hoverable blue lighten-5">
              <div class="card-action">
                  <a class="blue-grey-text" href="">Fort Lauderdale-Hollywood International Airport (FLL)</a>
               </div>
               <div class="card-action">

                  <a class="right blue-text" href="http://www.fortlauderdaleinternationalairport.com/">www.fortlauderdaleinternationalairport.com</a>
               </div>
            </div>
         </div>
      </div>     

      <div class="row">
      <div class="col s12 m5">
        <div class="card hoverable">
          <span class="white-text">     <%=link_to "Select Airport", new_flight_path%>
          </span>
        </div>
      </div>
    </div> 
<!-- TRYING TO SHOW GOOGLE/MAPS -->
<!-- 
    <div id="map"></div> -->
    
 <!-- TILL HERE -->

    <% else %>
          <div class="caption left-align">
            <h3>Heading to the airport <br> Save time here!</h3>
          </div>
            <img class="materialboxed" data-caption="No more ugly suprises!" width="750" src="http://img12.deviantart.net/c2c1/i/2015/124/c/8/bologna_airport_nr_2_by_enricomiglino-d1tjs1m.jpg">
          <div class="caption left-align">
            <h3>Enjoy your trip</h3>
          </div>
    <% end %>
</div>

</body>



    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
