<h1><%= current_user.name %></h1>


  <div class="collection">

    <a href="#!" class="collection-item">AIRPORT<span class="badge">GATE</span></a>
    <a href="#!" class="collection-item">

		<% @flights.each do |flight|%>
		<li><%=flight.airport%> 
	<span class="new badge">
		<%=flight.gate%></li>
		<% end %>
   	</span></a>
 </div>
   	<%=link_to "Add Flight", new_flight_path%>