// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 300px; 
   left: 20px; 
   width: 100%; 
}

h2 span { 
   color: black;  
   letter-spacing: -2px;  
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}